<h1>FGO Dex Api Project</h1>
<p>Welcome to a FGO Data single-page application, built with:</p>
<ul>
  <li>ASP.Net Core 3.1 for cross-platform server-side code</li>
  <li>Angular and TypeScript for client-side code</li>
  <li>Bootstrap for layout and styling</li>
</ul>

<p>You'll find, for now, a Servant List on top of the page that will display every servant that is stored in the database. If you click on any of them it will display its ascensions if they are stored too.</p>
<h5 style="text-align:center;"><a href="https://github.com/Zabrios/FGO-WebApi-Training">Project Source</a></h5>


<img class="bg" src="assets/FGO_banner.jpg"/>
<hr />
